.nextArrow, .prevArrow{
    position: absolute;
    z-index: 1;
    width: 35px;
    height: 35px;
    background-color: rgb(220, 225, 230);
    border-radius: 50%;
}
.nextArrow{
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}
.prevArrow{
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}
@media only screen and (max-width:768px) {
    .nextArrow, .prevArrow{
        width: 25px;
        height: 25px;
    }
}