.login {
  width: 400px;
  margin: 0 auto;
  border: 1px solid rgb(216, 214, 214);
  border-radius: 8px;
  padding: 35px 25px;
}
.topLogin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.iconContainer {
  flex: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgContainer {
  flex: 90%;
}
.img {
  display: block;
  margin: 0 auto;
}
.icon {
  font-size: 25px;
  cursor: pointer;
}
.header {
  font-size: 18px;
  margin: 20px 0;
}
.para {
  font-size: 13px;
  color: rgb(77, 74, 74);
}
.input {
  width: 100%;
  margin: 2px 0 3px 0;
  padding: 12px 8px;
  border-radius: 8px;
  outline: none;
  border: 1px solid rgb(216, 214, 214);
  font-size: 16px;
}
.Button {
  width: 100%;
  margin: 20px 0 5px 0;
  padding: 12px 0 !important;
}
